.home-container {
    display: grid;
    height: 100vh;
  }
  
  .map-container {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-container img {
  background-color: #f0f0f0;
  }
  
  .map-placeholder {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-cards .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-link .card {
    margin-bottom: 0px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }