.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  .filter-group {
    margin-bottom: 20px;
  }
  
  .filter-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .filter-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .filter-select:focus {
    border-color: #006b12;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter-label {
    margin-bottom: 0.5rem;
  }
  
  .filter-select {
    margin-bottom: 1rem;
  }
  